.feed-container {
  margin-left: 200px;          
  margin-top: 80px;           
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  width: 100%;
  max-width: 700px;           
  display: flex;
  gap: 20px;
}
