.footer {
  background-color: #433e3f;
  margin-top: 5rem;
  padding: 2rem 1rem;
  text-align: center;
  color: #d1d5db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 0.875rem;
}

.footer-subtext {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
