.sidebar {
        position: fixed;
        top: 56px;       
        left: 0;
        width: 200px;
        height: calc(100vh - 56px);
        background-color: #5bbaf2;
        padding: 1.5rem;
        box-shadow: 2px 0 6px rgba(0,0,0,0.15);
        z-index: 900;
      }

      .sidebar-link {
        font-size: 1.15rem;
        margin-bottom: 1.25rem;
        display: flex;
        align-items: center;
        color: #333;
      }

      .sidebar-link:hover {
        opacity: 0.7;
        text-decoration: none;
      }

      .sidebar-icon {
        margin-right: 10px;
      }